* {
    font-family: "Terminus (TTF)";
    font-size: 12px;

    background: transparent;
    color: #ffffff;
}

window#waybar {
    background: transparent;
    transition-duration: 0.5s;
    background-color: rgba(0, 0, 0, 0.8);
}

#window {
    font-weight: bold;
}

#workspaces button.active {
    border-radius: 0px;
    border-bottom: 1px solid #c9545d;
}

#cpu,
#network,
#memory,
#pulseaudio,
#keyboard-state,
#temperature {
    margin-left: 8px;
    margin-right: 8px;
}
#network.disconnected {
    background-color: #f53c3c;
}
#temperature.critical {
    background-color: #eb4d4b;
}
